WICON ICON DISCARDABLE "icon.ico"

1 VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "No Ammo"
        END
    END
END
